.search {
  max-height: 400px;
  overflow: scroll;
  position: absolute;
  z-index: 2;
  width: 33%;
  background: #f0eeee;
}

.dropdown {
  max-width: 100%; /* Asegura que el dropdown no exceda el ancho de su contenedor */
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  text-overflow: ellipsis; /* Añade una elipsis (…) al final del texto que desborda */
}


.concept {
  font-weight: bold;
}

.text {
  padding-top: 1.5rem;
}

.notification {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 1;
}
