@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.desktopHeading,
.tabletHeading {
  @include type.type-style('heading-04');
  color: $ui-05;
  margin-bottom: spacing.$spacing-05;
}

.tabletHeading {
  margin-bottom: spacing.$spacing-04;
}
