.tableContainer {
  background-color: #ffffff;
  border: none;
  margin: 1rem 0;
}

.toolbarWrapper {
  border-bottom: 1px solid #e0e0e0;
  background-color: #f4f4f4;
}

.tableToolbar {
  background-color: #f4f4f4;
  border-bottom: none;
  padding: 1rem;
}

.search {
  max-width: 20rem;
}

.table {
  background-color: #ffffff;
}

.formName {
  color: #0078a6;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    color: #0078a6;
    text-decoration: underline;
  }

  &:focus {
    outline: 2px solid #0078a6;
    outline-offset: 2px;
  }
}

.editCell {
  label {
    color: #525252;
    font-style: italic;
  }
}
