.contentSwitcher {
  height: 2.5rem;
}

.dateRange {
  padding-top: 1.5rem;
  display: flex;
}

.text {
  padding-top: 1.5rem;
}

.multipleInputs {
  display: flex;
  align-items: center;
}

.timeModifier {
  width: 300px;
}

.lastTime {
  padding-left: 1rem;
  padding-right: 1rem;
}

.operators {
  width: 60%;
  padding-right: 1rem;
}

.value {
  padding-right: 2rem;
}

.whatValuesInputs {
  display: flex;
  align-items: end;
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Asegurar que los selectores tengan tamaños consistentes
  & > *:not(:last-child) {
    flex-grow: 1;
    margin-right: 1rem;

    // Ajuste para selectores
    .bx--dropdown {
      width: 100%; // Usar el espacio disponible dentro del contenedor
      max-width: 250px; // Tamaño máximo para evitar que sea demasiado grande
      min-width: 200px; // Tamaño mínimo para asegurar consistencia
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; // Evitar saltos de línea en texto largo
    }
  }

  & > button {
    flex-grow: 0; // Mantener tamaño del botón
  }
}

.column {
  padding-top: 1.5rem;
}

.actionBtn {
  display: flex;
  column-gap: 0.5rem;
}

.mainSection {
  display: grid;
  grid-template-columns: 16rem 1fr;
}
